@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

body {
  --off-black: #2f2f2f;
  --yellow: #f5bb5b;
  --off-white: #fef8ed;
  --white: #ffffff;
  --black: #000;
  --primary-font: "Montserrat";
  --secondary-font: "Nunito";
  --grey-white: #fbfbfb;
  background: var(--off-black);
}

.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: var(--secondary-font);
}

.font-size-extra-extra-large {
  font-size: 45px;
}

.font-size-extra-large {
  font-size: 40px;
}

.font-size-large-extra-large {
  font-size: 24px;
}

.font-size-large {
  font-size: 20px;
}

.font-size-regular {
  font-size: 18px;
}

.font-size-regular-small {
  font-size: 16px;
}

.font-size-small {
  font-size: 14px;
}

.nav-link {
  color: var(--off-white);
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 500;
}

.hero-hello {
  color: var(--yellow);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 54px;
}

.hero-copy {
  color: var(--off-white);
  font-size: 40px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
}

.box-shadow-about {
  box-shadow: -8px 9px 0px 0px #000;
}
